{% extends "base.html" %}

{% block content %}
{{ data }}
<div class="col-md-12">
	<div class="col-md-6">
		<ul>Амьтны нэр</ul>
		<li>       Манж – нас гүйцсэн хандгайн эр нь</li>
		<li>       Сүндэс – Хандгайн эм нь</li>
		<li>       Тохь – Шүдлэн хандгай</li>
		<li>       Тозуул – Хязаалан хандгай</li>
		<li>       Дайр – Бугын эр</li>
		<li>       Марал – Бугын эм нь согоо ч гэдэг</li>
		<li>       Цөх – Бугын гурван настай нь</li>
		<li>       Шармаахай – Нас гүйцсэн баавгайн эр нь</li>
		<li>       Өтөр – Баавгайн өөр нэр</li>
		<li>       Эвш – Баавгайн эм нь</li>
		<li>       Цагаан хүзүүт – Идэр баавгай</li>
		<li>       Эрслэн – Арслангийн эм</li>
		<li>       Гирээ – Хүдрийн эр нь</li>
		<li>       Гирэгчин – Хүдрийн эм нь</li>
		<li>       Гангис – Доргоны эр нь</li>
		<li>       Мангис – Доргоны эм нь</li>
		<li>       Мий – Муурын эр нь</li>
		<li>       Мигуй – Муурын эм нь</li>
		<li>       Монди – Сармагчны эр нь</li>
		<li>       Монш – Сармагчны эм нь</li>
		<li>       Эрхис – Булгын эр нь</li>
		<li>       Эвшхис – Булгын эм нь</li>
		<li>       Эвь эвий – Халиуны эм нь</li>
		<li>       Хаван – Их азарган гахай</li>
		<li>       Зарь – Цааны эр нь – агталсан</li>
		<li>       Мянжиг – Цааны эм нь – үнээ</li>
		<li>       Этэр – Цааны бух</li>
		<li>       Засбан – Цааны бяруу</li>
		<li>       Атуух – Загасны эр нь</li>
		<li>       Атуу – Загасны эм нь</li>
		<li>       Бойр – Халиуны эр нь</li>
		<li>       Арьяад – Бөхөнгийн эм нь</li>
		<li>       Шавж – Давжаа хурга</li>
		<li>       Азаргана – Зөгийн эр нь</li>
		<li>       Хатанз – Зөгийн эм нь</li>
		<li>       Нагай – тарч – Хөхүүл тарвага</li>
		<li>       Хотоль – 2 настай тарвага болзлог</li>
		<li>       Асмаг – Агтлуулсан гахай</li>
		<li>       Тарчин – Минжний эм нь Минжүүхэй</li>
		<li>       Соёохой – Хоёр настай ооно зээр</li>
		<li>       Соёндой – Бугын 2 настай нь</li>
	</div>
	<div class="col-md-6">
		<ul>Амьтны үр төлийн нэр</ul>
		<li>       Дүдэр – Минжний зулзага</li>
		<li>       Балнам – Ортоомын тугал</li>
		<li>       Цуравдай – Гургуулын зулзага</li>
		<li>       Зогой – Могойн зулзага</li>
		<li>       Үрвэл – Гүрвэлийн зулзага</li>
		<li>       Бонго – Алмасны үр</li>
		<li>       Янгуудай явгуудай – Бор гөрөөсний янзага</li>
		<li>       Ногуул – Шилүүсний зулзага</li>
		<li>       Гүег – Арслангийн зулзага</li>
		<li>       Гүен – Ирвэсний зулзага</li>
		<li>       Ганис – Доргоны зулзага</li>
		<li>       Алманцаг – Мазаалайн төл</li>
		<li>       Зоргол, Ший – Бугын тугал</li>
		<li>       Онох – Янгирын зулзага</li>
		<li>       Зөнжиг – Хярсны зулзага</li>
		<li>       Турганы – дудран – Солонгын зулзага</li>
		<li>       Дудран – Илжигний унага</li>
		<li>       Бөөдий – Зарааны зулзага</li>
		<li>       Ногоолой – Мануулын зулзага</li>
		<li>       Борж – Жирхний зулзага</li>
		<li>       Цурваг – Тахианы дэгдээхэй</li>
		<li>       Бөртөн – Зээхийн зулзага</li>
		<li>       Шовшоорой – Хүдрийн зулзага</li>
		<li>       Хоршдой – Хэрэмний зулзага</li>
		<li>       Хугаш – Цааны тугал</li>
		<li>       Цагцгай – Бүргэдийн зулзага</li>
		<li>       Сөдгий – Өмхий хүрний зулзага</li>
		<li>       Бамбар – Барын зулзага</li>
		<li>       Гавар – Үнэгний зулзага</li>
		<li>       Бүсрэг – Суусрын зулзага</li>
		<li>       Ялман – Алаг дааганы зулзага</li>
		<li>       Хойв – Булганы зулзага</li>
		<li>       Бор – Халиуны зулзага</li>
		<li>       Төрц – Загасны үр</li>
	</div>
</div>
{% endblock %}
